.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homePageBtn {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e57402 !important;
  width: 150px;
  height: 50px;
  font-size: 0.6em;
  font-weight: 400;
}
.homePageBtn:hover {
  transform: scale(1.1);
  background-color: #e57402;
  border-color: inherit;
}
.card {
  margin: 10px;

  border-radius: 10px;
  background-color: inherit;
  box-shadow: 0px 1px 1px 2px rgba(214, 205, 205, 0.861);
}
.profilePic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}
.card_content {
  position: relative;
  padding: 24px;
  max-height: 400px;
  overflow-y: auto;
}
.register {
  margin: 10px 0px;
}
.card h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #ae6609;
  text-shadow: #1f1e1e 2px 1px 1px 2px;
}

.card p {
  margin: 0;
  color: #242424;
  width: max-content;
}

.category {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;

  padding-bottom: 8px;
  margin-bottom: 16px;
}

.recipe-details {
  display: grid;
  max-width: 100%;
  grid-template-columns: auto 1fr;
  grid-gap: 81px;
  margin-bottom: 24px;
}

.recipe-details p {
  grid-column: 2;
}
.favorite {
  font-size: 2rem !important;
  fill: rgb(44, 228, 216) !important;
}
.recipe-instructions,
.recipe-presentation,
.storage-instructions {
  margin-bottom: 24px;
  width: 100%;
}

.recipe-instructions h3,
.recipe-presentation h3,
.storage-instructions h3 {
  margin-bottom: 8px;
}

.recipe-instructions p,
.recipe-presentation p,
.storage-instructions p {
  margin: 0;
  line-height: 1.5;
  width: max-content;
}

.button_group {
  margin-top: 16px;
  display: flex;
  position: relative;
  margin-top: 2rem;
  justify-content: space-around;
}
.button_group .btn {
  padding: 8px 16px;

  background-color: #de8816;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group .btn:hover {
  background-color: #e9860d;
}
.mainPage {
  display: flex;
  justify-content: flex-end;
  h1 {
    font-size: 4em;
    margin-top: 50px;
  }
}
.description {
  display: inherit;
  position: relative;
  justify-content: inherit;
  align-items: inherit;
  font-size: 2em;
  max-width: var(--max-width);
  width: 100%;

  width: 500px;
  font-family: var(--font-mono);
}

.btn {
  position: absolute;
  display: flex;

  width: 700px;
  margin-top: 20%;
  justify-content: space-between;
  font-size: 1em;
}
.crumbContainer {
  height: 165px;

  display: flex;
  align-items: flex-end;
}
.breadcrumb {
  border: 1px black solid;
  border-radius: 10px;
  width: 400px;
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: end;
}
.cardLogin {
  background: linear-gradient(#fff, #b4eefb, #b5c6ca) !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btnSng {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-color: rgb(204, 100, 8);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e57402;
  height: 2rem;
  width: 6rem;
  font-size: 1em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.btnSng2 {
  border-color: rgb(255, 255, 255);
  border-radius: 100%;
  justify-content: space-around;
  background-color: #e57402;
  width: 70px;

  height: 70px;
  font-size: 0.8em;
  font-weight: 400;
  color: #f7f0f0;

  margin-bottom: 2rem;
}
.btnSng:hover {
  background-color: #6fb9b7;
  transform: scale(1.02);
  color: #ddd !important;
  cursor: pointer;
}
.btnSng2:hover {
  transform: scale(1.05);

  border-color: inherit;
  color: #ffffff;
}
.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background: inherit;
  border: 1px solid rgba(var(--callout-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
.crumb {
  height: 165px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;

  transition: background 200ms, border 200ms;
}
.loading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading_animation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: #333;
  animation: spin 1s infinite linear;
  margin-bottom: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card span {
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.9rem;
  color: #000000bf;
}
.blockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 5rem 3rem;
  position: sticky;
  top: 100px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  text-shadow: #070000 3px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.block:hover {
  background-color: #c06000;
}

.active {
  background-color: #c06000;
  transform: scale(1.02);
  box-shadow: rgba(255, 252, 252, 0.4) 0px 2px 4px,
    rgba(255, 255, 255, 0.3) 0px 7px 13px -3px,
    rgba(227, 217, 217, 0.2) 0px -3px 0px inset;
  border: rgb(201, 84, 6) 1px solid;
}
.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 27rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;

  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: #e38c3a;

    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;

    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
  }
}
.pics {
  width: 230px;
  height: 230px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.customFileInput {
  position: relative;
  display: inline-block;

  cursor: pointer;
}

.fileInputLabel {
  display: flex;
  padding-left: 7px;
  width: 5rem;
  background-color: #e67402;
  border-radius: 10px;
  margin-top: 2rem;
  color: white;
  cursor: pointer;
  .fileInputLabel:hover {
    transform: scale(1.05);
  }
}
.comment_section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment_section p {
  font-size: 14px;
  margin-bottom: 5px;
}

.comment_section input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-bottom: 10px;
  height: 2rem;
}

.commentSection {
  border: #ffffff 1px solid;
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: #ddd 3px 2px;
}
.comment_section button {
  background-color: #e67402;
  color: #fff;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.comment_section button:hover {
  color: #ffffff;
  background-color: #d75d06;
}

.comment_section form {
  display: flex;
  align-items: flex-start;
}

.comment_section form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.comment_section form button {
  flex-shrink: 0;
}
.commentbtn {
  border-radius: 100px !important;
  cursor: pointer;
}

.commentP {
  display: flex;

  font-size: 0.9rem;
  align-items: center;
  width: 100%;
  height: 2rem;
  background-color: rgb(231, 210, 210);
  color: #1f1e1e;
  border-radius: 3rem;
  padding-left: 1rem;
  margin-right: 1rem;
  margin: 4px;
  overflow-y: scroll;
}
.comment_section .reply-button {
  color: #4267b2;
  font-size: 12px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.comment_section .reply-button:hover {
  text-decoration: underline;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.selectImage {
  color: #d75d06;
  cursor: pointer;
  margin: 10px 0;
}
.pics_container {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  border-bottom: 1px solid #c26b07 !important;
  padding-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
.commentCount {
  position: absolute;
  bottom: 5px;
  cursor: pointer;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
